* {
  margin: 0 auto;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf');
  src: url('fonts/Raleway-Regular.ttf') format('embedded-opentype'), url('fonts/Raleway-Regular.ttf') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
/**Book styles**/
.main {
  width: 125px;
  height: 168px;
  background-color:rgba(58, 56, 58, 0.5);
  border: 0.5px solid lightgrey;
}
.hardcover_pu {
  background-image: url("images/pu.jpg");
}
.hardcover_paper {
  background-image: url("images/print.jpg");
}
.hardcover_textile {
  background-image: url("images/textile.jpg");
}
.hardback{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.softback{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.half-rounded {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.straight {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/**error in from validation style**/
span.help-block{
  color: red;
}

/** Header**/

.header-style{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: rgba(58, 56, 58, 0.5);
  padding: 10px;
  background-image: url("images/book.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.book-section-style{
  margin:10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgba(183, 97, 5, 0.8);
  }
.orange-color{
  background-color: rgba(185, 97, 5, 0.8);

  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px;
}
.next-button{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(183, 97, 5, 0.7);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: visible;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    width:70px;
    white-space: nowrap;
    vertical-align: middle;
}

.reset-button{
  background-color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  line-height: 20px;
  overflow: visible;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  width:70px;
  white-space: nowrap;
  vertical-align: middle;
}

.end-comment{
  border: 1px solid rgba(183, 97, 5, 0.3);
  border-radius: 5px;
  height: 180px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: -7px;
}
.middle-section{
  background-color: rgba(183, 97, 5, 0.7);
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  background-size: contain;
  margin: 10px 0 10px 0;
  padding: 10px 0  10px 0;
  border-radius: 5px;
}

.pattern{

  border-radius: 5px;
  font-weight: bold;
  padding: 20px;
}
