* {
  margin: 0 auto;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf');
  src: url('fonts/Raleway-Regular.ttf') format('embedded-opentype'), url('fonts/Raleway-Regular.ttf') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
/**Book styles**/
.size{
  width: 185px;
  height: 278px;
  position: relative;
}
.main {
    width: 100%;
    height: 245px;
    border: 0.5px solid lightgrey;
    margin-top: 20px;

    background-color: #838383;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzVkNWQ1ZCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(169, 169, 169)),color-stop(1, rgb(93, 93, 93)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(169, 169, 169) 0%,rgb(93, 93, 93) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(169, 169, 169) 0%,rgb(93, 93, 93) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(169, 169, 169) 0%,rgb(93, 93, 93) 100%);
}
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa9a9a9",endColorstr="#ff5d5d5d",GradientType=0);
    }
}

.shadow{
  width: 195px;
  height:30px;
  background-image: url('images/shadow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hardcover_pu {
  background-image: url("images/pu.jpg");
}
.hardcover_paper {
  background-image: url("images/print.jpg");
}
.hardcover_textile {
  background-image: url("images/textile.jpg");
}
.hardback{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.hardback_crease{
  height: 245px;
  width:15px;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  z-index: 150;
  background-image: url("images/spine.png");
  top: 0%;
  left: -1%;
  margin: 0px;
}
.softback{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.half-rounded {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.straight {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.printed_logo{
  height: 100px;
  width: 100px;
  position: absolute;
  background-position: 35% 29%;
  z-index: 151;
  background-image: url("images/branding.png");
  top: 15%;
  left: 25%;
  margin: 0px;
}
.debossed_logo{
  height: 100px;
  width: 100px;
  position: absolute;
  background-position: 95% 29%;
  z-index: 151;
  background-image: url("images/branding.png");
  top: 15%;
  left: 25%;
  margin: 0px;
}
/**error in from validation style**/
span.help-block{
  color: red;
}

/** Header**/

.header-style{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: rgba(58, 56, 58, 0.5);

  height: 200px;
  background-image: url("images/book.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.book-section-style{
  margin:10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgba(183, 97, 5, 0.8);
  }
.orange-color{
  background-color: rgba(185, 97, 5, 0.8);

  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px;
}
.next-button{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(183, 97, 5, 0.7);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: visible;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    width:70px;
    white-space: nowrap;
    vertical-align: middle;
}

.reset-button{
  background-color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  line-height: 20px;
  overflow: visible;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  width:70px;
  white-space: nowrap;
  vertical-align: middle;
}

.end-comment{
  border: 1px solid rgba(183, 97, 5, 0.3);
  border-radius: 5px;
  height: 180px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: -7px;
}
.middle-section{
  background-color: rgba(183, 97, 5, 0.7);
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  background-size: contain;
  margin: 10px 0 10px 0;
  padding: 10px 0  10px 0;
  border-radius: 5px;
}

.pattern{

  border-radius: 5px;
  font-weight: bold;
  padding: 20px;
}
